<br>
<div>
  <div class="slds-align_absolute-center slds-text-heading_medium">
    <h1 class=""> Currency Converter One</h1>
  </div>
  <currency-converter></currency-converter>
</div>

<br><hr>

<div>
  <div class="slds-align_absolute-center slds-text-heading_medium">
    <h1> Currency Converter Two</h1>
  </div>
  <currency-converter></currency-converter>
</div>

<br><hr>

<div>
  <div class="slds-align_absolute-center slds-text-heading_medium">
    <h1> Currency Converter Three</h1>
  </div>
  <currency-converter></currency-converter>
</div>

<br>
